.column {
    font-size: 14px;
    line-height: 20px;
    width: 17.5%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all 0.7s;
    min-width: 40vw;
    max-height: 100%;
}

.column + .column { 
    border-left: 1px solid #2f2f2f;
}

.headline {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;
}

.headline.hl1 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0;
}

.headline.hl2 {
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    padding: 10px 0;
    box-sizing: border-box;
}

.headline.hl2:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.headline.hl2:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;
}

.headline.hl3 {
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    padding: 10px 0;
    box-sizing: border-box;
}

.headline.hl4 {
    font-weight: 700;
    font-size: 12px;
    padding: 10px 0;
    box-sizing: border-box;
}

.headline.hl4:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.headline.hl4:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.headline.hl5 {
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    padding: 10px 0;
    box-sizing: border-box;
}

.headline.hl6 {
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
    box-sizing: border-box;
}

.headline.hl6:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.headline.hl6:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.citation {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0;
}

.citation:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.citation:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.figure {
    margin: 0 0 20px;
}

.figcaption {
    font-style: italic;
    font-size: 12px;
}

.media {
    filter: sepia(80%) contrast(1) opacity(0.8);
    width: 100%;
}

/* Media Queries */
@media only all and (max-width: 1300px) {
    .weatherforcastbox {
        display: none;
    }
}

@media only all and (max-width: 1200px) {
    .column {
        width: 31%;
    }
}

@media only all and (max-width: 900px) {
    .column {
        width: 47%;
    }
}

@media only all and (max-width: 600px) {

    #column-container {
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    .column {
        width: 90%;
        max-width: 100%;
        text-align: center;
    }

    .column + .column {
        border-left: none;
        border-bottom: 1px solid #2f2f2f;
    }
}