.about-page {
    position: relative;
    overflow: hidden;
  
    .hero-content {
      position: absolute;
      text-align: center;
      font-size: 3.6vw;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      width: 60%;
      text-align: start;
      top: 25%;
      left: 2%;
      right: 7%;
    }
  }
  