/* Mobile First - Styles par défaut pour les mobiles */
.landing {
    height: 100vh;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  
  .landing-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .bighoot-title {
    font-family: 'Roboto Serif', serif;
    font-size: 8vw;
    letter-spacing: .2vw;
    width: 100%;
    margin-top: -80px;
  }
  
  .bighoot-title h1 {
    margin: 0;
  }
  
  .bighoot-subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    letter-spacing: .1vw;
    width: 100%;
    margin-top: -2vw;
  }
  
  .bighoot-subtitle h3 {
    margin: 0;
    font-weight: 300;
  }
  
  .logo img {
    max-width: 80%;
  }
  
  /* Tablet view */
  @media (min-width: 768px) {
    .landing-container {
      width: 70%;
    }
  
    .bighoot-title {
      font-size: 6vw;
      margin-top: -100px;
    }
  
    .bighoot-subtitle {
      font-size: 3vw;
      margin-top: -1.5vw;
    }
  }
  
  /* Desktop view */
  @media (min-width: 1280px) {
    .landing {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  
    .landing-container {
      width: 37vw;
    }
  
    .bighoot-title {
      font-size: 4.5vw;
      letter-spacing: .3vw;
      margin-top: -130px;
    }
  
    .bighoot-subtitle {
      font-size: 1.5vw;
      letter-spacing: .05vw;
      text-align: right;
      margin-top: -2.2vw;
      margin-right: 2vw;
    }
  
    .logo img {
      max-width: 100%;
    }
  }
  