:root {
  --light: #C9C9C9;
  --dark: #1F1D1E;
}

/* Mobile First - Styles par défaut pour les mobiles */
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.color-dark {
  color: var(--light);
}

/* Tablet view */
@media (min-width: 768px) {
  .home-page {
    padding: 20px;
  }

  .section-title {
    top: 3%;
  }
}

/* Desktop view */
@media (min-width: 1280px) {
  .section-title {
    top: 2%;
  }
}
