.projects-page {
  height: 100vh; // Assurez-vous que la section occupe toute la hauteur de la vue
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}