@font-face {
  font-family: 'Autography';
  src: url('../../assets/fonts/Autography.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.tools-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
  flex-direction: column;

  .dynBkg { 
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.5s ease;
    z-index: 9998;

    &.TSi-hover {
      -webkit-box-shadow: 0px 0px 60vw 28vw rgba(1,118,201,0.59);
      -moz-box-shadow: 0px 0px 60vw 28vw rgba(1,118,201,0.59);
      box-shadow: 0px 0px 60vw 28vw rgba(1,118,201,0.59);
    }
    
    &.JSi-hover {
      -webkit-box-shadow: 0px 0px 60vw 28vw rgba(232,212,77,0.59);
      -moz-box-shadow: 0px 0px 60vw 28vw rgba(232,212,77,0.59);
      box-shadow: 0px 0px 60vw 28vw rgba(232,212,77,0.59);
    }
    
    &.REi-hover {
      -webkit-box-shadow: 0px 0px 60vw 28vw rgba(0,209,247,0.59);
      -moz-box-shadow: 0px 0px 60vw 28vw rgba(0,209,247,0.59);
      box-shadow: 0px 0px 60vw 28vw rgba(0,209,247,0.59);
    }
    
    &.THi-hover {
      -webkit-box-shadow: 0px 0px 60vw 28vw rgba(255, 255, 255, 0.59);
      -moz-box-shadow: 0px 0px 60vw 28vw rgba(255, 255, 255, 0.59);
      box-shadow: 0px 0px 60vw 28vw rgba(255, 255, 255, 0.59);
    }
    
    &.PSi-hover {
      -webkit-box-shadow: 0px 0px 60vw 28vw rgba(22, 152, 247,0.59);
      -moz-box-shadow: 0px 0px 60vw 28vw rgba(22, 152, 247,0.59);
      box-shadow: 0px 0px 60vw 28vw rgba(22, 152, 247,0.59);
    }
    
    &.PPi-hover {
      -webkit-box-shadow: 0px 0px 60vw 28vw rgba(148, 148, 247,0.59);
      -moz-box-shadow: 0px 0px 60vw 28vw rgba(148, 148, 247,0.59);
      box-shadow: 0px 0px 60vw 28vw rgba(148, 148, 247,0.59);
    }
  }

  .image-display {
    position: absolute;
    min-width: 17vw;
    width: 17vw;
    left: 7%;
    top: 15%;
    .photo-image {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
  
  .name_holder {
    position: absolute;
    top: 6%;
    left: 27%;
    rotate: -12deg;
    
    h3 {
      font-family: 'Autography', sans-serif;
      font-size: 5vw;
      color: #c9c9c92e;
    }
    h3:nth-child(2) {
      margin-top: -7vw;
      margin-left: -2.7vw;
    }
  }

  .icon_holder {
    position: absolute;
    top: 45%;
    left: 42.7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 1vw;
    column-gap: 2vw;
    
    i {
      z-index: 9999;
      padding: 2vw;
      color: #f4f4f42b;
      font-size: 3.5vw;
      -webkit-box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.64); 
      box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.64);
      transition: 0.3s;
      -webkit-box-shadow:0px 0px 103px 23px rgba(245,245,245,0.23);
      -moz-box-shadow: 0px 0px 103px 23px rgba(245,245,245,0.23);
      box-shadow: 0px 0px 103px 23px rgba(245,245,245,0.23);
      
      &:hover {
        transform: translate(0.18vw, 0.18vw);
      }
      &.TSi:hover {
        color: #fe8a36;
      }
      &.JSi:hover {
        color: #172bb2;
      }
      &.REi:hover {
        color: #ff2e08;
      }
      &.THi:hover {
        color: white;
      }
      &.PSi:hover {
        color: #ffe2cb;
      }
      &.PPi:hover {
        color: #ffffa7;
      }
    }
  }

  .greensock-svg {
    max-width: 5vw;
    max-height: 4vw;
    svg {
      width: 100%;
      font-size: 5vw;
    }
  }

  .illustration-pic1 {
    width: 30vw;
    position: absolute;
    right: 7%;
    top: 4%;
  }

  .illustration-pic2 {
    width: 20vw;
    position: absolute;
    right: 15%;
    top: 45%;
  }

  .illustration-pic3 {
    position: absolute;
    width: 12vw;
    right: 4%;
    top: 45%;
  }
}
