@font-face {
  font-family: 'Autography';
  src: url('../../assets/fonts/Autography.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Mobile First - Styles par défaut pour les mobiles */
.tools-page {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dynBkg {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.5s ease;
  z-index: 9998;
}

.image-display {
  position: absolute;
  width: 50vw;
  left: 5%;
  top: 10%;
}

.photo-image {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.name_holder {
  position: absolute;
  top: 10%;
  left: 56%;
  transform: rotate(-10deg);
}

.name_holder h3 {
  font-family: 'Autography', sans-serif;
  font-size: 8vw;
  color: #c9c9c92e;
}

.icon_holder {
  position: absolute;
  top: 60%;
  left: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 2vw;
  column-gap: 3vw;
  transform: translateX(-50%);
}

.icon_holder i {
  z-index: 9999;
  padding: 3vw;
  color: #f4f4f42b;
  font-size: 8vw;
  box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.64), 0px 0px 103px 23px rgba(245,245,245,0.23);
  transition: 0.3s;
}

.icon_holder i:hover {
  transform: translate(0.3vw, 0.3vw);
}

.greensock-svg {
  max-width: 10vw;
  max-height: 8vw;
}

.greensock-svg svg {
  width: 100%;
  font-size: 10vw;
}

.illustration-pic1 {
  width: 35vw;
  position: absolute;
  right: 1%;
  top: 80%;
  rotate: 30deg;
}

.illustration-pic2 {
  width: 33vw;
  position: absolute;
  left: 1%;
  bottom: 15%;
}

.illustration-pic3 {
  position: absolute;
  width: 20vw;
  right: 5%;
  top: 55%;
}

.tools-page .dynBkg.TSi-hover {
  -webkit-box-shadow: 0px 0px 60vw 70vh rgba(1,118,201,0.59);
  -moz-box-shadow: 0px 0px 60vw 70vh rgba(1,118,201,0.59);
  box-shadow: 0px 0px 60vw 70vh rgba(1,118,201,0.59);
}

.tools-page .dynBkg.JSi-hover {
  -webkit-box-shadow: 0px 0px 60vw 70vh rgba(232,212,77,0.59);
  -moz-box-shadow: 0px 0px 60vw 70vh rgba(232,212,77,0.59);
  box-shadow: 0px 0px 60vw 70vh rgba(232,212,77,0.59);
}

.tools-page .dynBkg.REi-hover {
  -webkit-box-shadow: 0px 0px 60vw 70vh rgba(0,209,247,0.59);
  -moz-box-shadow: 0px 0px 60vw 70vh rgba(0,209,247,0.59);
  box-shadow: 0px 0px 60vw 70vh rgba(0,209,247,0.59);
}

.tools-page .dynBkg.THi-hover {
  -webkit-box-shadow: 0px 0px 60vw 70vh rgba(255, 255, 255, 0.59);
  -moz-box-shadow: 0px 0px 60vw 70vh rgba(255, 255, 255, 0.59);
  box-shadow: 0px 0px 60vw 70vh rgba(255, 255, 255, 0.59);
}

.tools-page .dynBkg.PSi-hover {
  -webkit-box-shadow: 0px 0px 60vw 70vh rgba(22, 152, 247,0.59);
  -moz-box-shadow: 0px 0px 60vw 70vh rgba(22, 152, 247,0.59);
  box-shadow: 0px 0px 60vw 70vh rgba(22, 152, 247,0.59);
}

.tools-page .dynBkg.PPi-hover {
  -webkit-box-shadow: 0px 0px 60vw 70vh rgba(148, 148, 247,0.59);
  -moz-box-shadow: 0px 0px 60vw 70vh rgba(148, 148, 247,0.59);
  box-shadow: 0px 0px 60vw 70vh rgba(148, 148, 247,0.59);
}

/* Tablet view */
@media (min-width: 768px) {
  .tools-page .image-display {
    width: 40vw;
    left: 10%;
    top: 10%;
  }

  .tools-page .name_holder h3 {
    font-size: 7vw;
  }

  .tools-page .icon_holder i {
    font-size: 6vw;
    padding: 2vw;
  }

  .tools-page .greensock-svg {
    max-width: 8vw;
    max-height: 7vw;
  }

  .tools-page .greensock-svg svg {
    font-size: 8vw;
  }

  .tools-page .illustration-pic1 {
    width: 35vw;
  }

  .tools-page .illustration-pic2 {
    width: 25vw;
  }

  .tools-page .illustration-pic3 {
    width: 18vw;
  }
}

/* Desktop view */
@media (min-width: 1280px) {
  .tools-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .tools-page .dynBkg { 
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.5s ease;
    z-index: 9998;
  }

  .tools-page .dynBkg.TSi-hover {
    -webkit-box-shadow: 0px 0px 60vw 28vw rgba(1,118,201,0.59);
    -moz-box-shadow: 0px 0px 60vw 28vw rgba(1,118,201,0.59);
    box-shadow: 0px 0px 60vw 28vw rgba(1,118,201,0.59);
  }
  
  .tools-page .dynBkg.JSi-hover {
    -webkit-box-shadow: 0px 0px 60vw 28vw rgba(232,212,77,0.59);
    -moz-box-shadow: 0px 0px 60vw 28vw rgba(232,212,77,0.59);
    box-shadow: 0px 0px 60vw 28vw rgba(232,212,77,0.59);
  }

  .tools-page .dynBkg.REi-hover {
    -webkit-box-shadow: 0px 0px 60vw 28vw rgba(0,209,247,0.59);
    -moz-box-shadow: 0px 0px 60vw 28vw rgba(0,209,247,0.59);
    box-shadow: 0px 0px 60vw 28vw rgba(0,209,247,0.59);
  }

  .tools-page .dynBkg.THi-hover {
    -webkit-box-shadow: 0px 0px 60vw 28vw rgba(255, 255, 255, 0.59);
    -moz-box-shadow: 0px 0px 60vw 28vw rgba(255, 255, 255, 0.59);
    box-shadow: 0px 0px 60vw 28vw rgba(255, 255, 255, 0.59);
  }

  .tools-page .dynBkg.PSi-hover {
    -webkit-box-shadow: 0px 0px 60vw 28vw rgba(22, 152, 247,0.59);
    -moz-box-shadow: 0px 0px 60vw 28vw rgba(22, 152, 247,0.59);
    box-shadow: 0px 0px 60vw 28vw rgba(22, 152, 247,0.59);
  }

  .tools-page .dynBkg.PPi-hover {
    -webkit-box-shadow: 0px 0px 60vw 28vw rgba(148, 148, 247,0.59);
    -moz-box-shadow: 0px 0px 60vw 28vw rgba(148, 148, 247,0.59);
    box-shadow: 0px 0px 60vw 28vw rgba(148, 148, 247,0.59);
  }

  .tools-page .image-display {
    min-width: 17vw;
    width: 17vw;
    left: 7%;
    top: 15%;
  }

  .tools-page .photo-image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .tools-page .name_holder {
    position: absolute;
    top: 6%;
    left: 27%;
    rotate: -12deg;
  }
  
  .tools-page .name_holder h3 {
    font-size: 5vw;
  }

  .tools-page .name_holder h3:nth-child(2) {
    margin-top: -7vw;
    margin-left: -2.7vw;
  }

  .tools-page .icon_holder {
    position: absolute;
    top: 45%;
    left: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 1vw;
    column-gap: 2vw;
  }

  .tools-page .icon_holder i {
    padding: 2vw;
    color: #f4f4f42b;
    font-size: 3.5vw;
    -webkit-box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.64), 0px 0px 103px 23px rgba(245,245,245,0.23);
    box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.64), 0px 0px 103px 23px rgba(245,245,245,0.23);
    transition: 0.3s;
  }

  .tools-page .icon_holder i:hover {
    transform: translate(0.18vw, 0.18vw);
  }

  .tools-page .icon_holder i.TSi:hover {
    color: #fe8a36;
  }

  .tools-page .icon_holder i.JSi:hover {
    color: #172bb2;
  }

  .tools-page .icon_holder i.REi:hover {
    color: #ff2e08;
  }

  .tools-page .icon_holder i.THi:hover {
    color: white;
  }

  .tools-page .icon_holder i.PSi:hover {
    color: #ffe2cb;
  }

  .tools-page .icon_holder i.PPi:hover {
    color: #ffffa7;
  }

  .tools-page .greensock-svg {
    max-width: 5vw;
    max-height: 4vw;
  }

  .tools-page .greensock-svg svg {
    font-size: 5vw;
  }

  .tools-page .illustration-pic1 {
    width: 30vw;
    position: absolute;
    right: 7%;
    top: 4%;
  }

  .tools-page .illustration-pic2 {
    width: 20vw;
    position: absolute;
    left:auto;
    right: 15%;
    top: 45%;
  }

  .tools-page .illustration-pic3 {
    width: 12vw;
    position: absolute;
    right: 4%;
    top: 45%;
  }
}
